[submodule "qgis-plugin/qgissettingmanager"]
	path = qgis-plugin/qgissettingmanager
	url = git@github.com:3nids/qgissettingmanager.git
[submodule "qgis-plugin/qgiscombomanager"]
	path = qgis-plugin/qgiscombomanager
	url = git@github.com:3nids/qgiscombomanager.git
